# editors
.vscode/

# artifacts
# /run/

# vs
/.vs/

# Visual Studio Code
/.vscode/

# Rider
/.idea/

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
/[Bb]in/
/[Oo]bj/

# User-specific files
/*.suo/
/*.user/
/*.userosscache/
/*.sln.docstates/

# Build results
/[Dd]ebug/
/[Dd]ebugPublic/
/[Rr]elease/
/[Rr]eleases/
/x64/
/x86/
/build/
/bld/
/[Bb]in/
/[Oo]bj/
/[Oo]ut/
/msbuild.log/
/msbuild.err/
/msbuild.wrn/

# Visual Studio 2015
/.vs/
